@model BlackJack.ViewModels.Game.GameDataViewModel

@{
    ViewBag.Title = "GameTable";

    BlackJack.ViewModels.EntityViewModel.UserViewModel lastSignedUser = Model.lastSignedUser;
    IEnumerable<BlackJack.ViewModels.EntityViewModel.UserViewModel> users = Model.users;
    IEnumerable<BlackJack.ViewModels.EntityViewModel.CardViewModel> cards = Model.cards;
}

<h2>GameTable</h2>

<div>
    <h3>Users:</h3>
    @foreach(BlackJack.ViewModels.EntityViewModel.UserViewModel user in users)
    {
    <div class="Entity">
        <p>@user.ID</p>
        <p>@user.Name</p>
    </div>
    }
</div>
<div>
    <h3>Cards:</h3>
    @foreach(BlackJack.ViewModels.EntityViewModel.CardViewModel card in cards)
    {
    <div class="Entity">
        <p>@card.ID</p>
        <p>@card.CardName</p>
        <p>@card.CardScore</p>
    </div>
    }
</div>