@using Newtonsoft.Json
@model BlackJack.ViewModels.Response.GameProcessViewModel
@{
    ViewBag.Title = "StartNewGame";

    BlackJack.ViewModels.Response.UserGameProcessViewlItem user = Model.User;
    IEnumerable<BlackJack.ViewModels.Response.CardGameProcessViewItem> cards = Model.Cards;
}

<h2>StartNewGame</h2>

<div class="Game-content">
    <div class="UserInteface">
        <div class="UserStory">
            <table>
                <tr>
                    <td id="GamesPlayed"><h3>Data 1</h3></td>
                </tr>
                <tr>
                    <td id="GamesWon"><h3>Data 2</h3></td>
                </tr>
            </table>
        </div>
        <div class="User-buttons">
            <button class="NewMatch-button" , onclick="StartNewMatch()">
                <h3>Start</h3>
            </button>
            <button class="More-button" , onclick="MoreFunction()">
                <h3>More</h3>
            </button>
            <button class="Enougth-button" onclick="EnougthFunction()">
                <h3>Enougth</h3>
            </button>
        </div>
    </div>

    <div class="myClassPlayersInfos">
        <div class="Employee">
            <div class="Employee-info">
                <p id="playerInfo">@user.Name</p>
            </div>
            <div class="Employee-content">
                <p id="playerContent">Here Player Info</p>
            </div>
        </div>

        <div class="Employee">
            <div class="Employee-info">
                <p id="dillerInfo">Dealer Info</p>
            </div>
            <div class="Employee-content">
                <p id="dillerContent">Here Dealer Content</p>
            </div>
        </div>

        @for (int i = 1; i <= user.SelectedBots; i++)
        {
            <div class="Employee">
                <div class="Employee-info">
                    <p id="botInfo_@i">BOT #@i</p>
                </div>
                <div class="Employee-content">
                    <p id="botContent_@i">CONTENT</p>
                </div>
            </div>
        }
        <input type="hidden" value="@Url.Action("SaveChanges", "Game")" name="SaveUrl" />
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/app/game.js"></script>
    <script>
        var userSelectedBots = @user.SelectedBots;
        var gameID = @Model.GameID;

        var pathToSave = '@Url.Action("SaveChanges", "Game")';
        var pathToGetCard = '@Url.Action("GetCard", "Game")';

        var path = document.getElementsByName('SaveUrl').values;

        var userObj = new Entity('@user.Name', @user.ID, 3);
        var botList = new Array();
        for (var i = 0; i < @user.SelectedBots; i++) {
            var numberOfBot = i + 1;
            botList.push(new Entity('BOT ' + numberOfBot, i + 1, 2));
        }


        Update();
    </script>
}


