@using Newtonsoft.Json
@model BlackJack.ViewModels.ProcessGameView
@{
    ViewBag.Title = "StartNewGame";
}

<h2>StartNewGame</h2>

<div class="Game-content">
    <div class="UserInteface">
        <div class="UserStory">
            <table>
                <tr>
                    <td id="GamesPlayed"><h3>Data 1</h3></td>
                </tr>
                <tr>
                    <td id="GamesWon"><h3>Data 2</h3></td>
                </tr>
            </table>
        </div>
        <div class="User-buttons">
            <p id="UserButtons"></p>
        </div>
    </div>

    <div class="myClassPlayersInfos">

        @for (int i = 0; i < Model.Players.Count; i++)
        {
            <div class="Employee">
                <div class="Employee-info">
                    <p id="playerInfo_@i">@Model.Players[i].Name</p>
                </div>
                <div class="Employee-content">
                    <p id="playerContent_@i">CONTENT</p>
                </div>
            </div>
        }
        <input type="hidden" value="@Url.Action("Step", "Game")" name="StepUrl" />
        <input type="hidden" value="@Url.Action("StartRound", "Game")" name="StartRoundUrl" />

        <input type="hidden" value="@Model.GameID" name="GameId" />
        <input type="hidden" value="@Model" name="Model" />

    </div>
</div>

@section Scripts {
    <script src="~/Scripts/app/game.js"></script>
    <script>
        var model = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model))');
        var gameID = $('input[name=GameId]').val();

        var pathToStep = $('input[name=StepUrl]').val();
        var pathToStartRound = $('input[name=StartRoundUrl]').val();

        UpdateUI_BeginGame();
        Update(model);
    </script>
}


