@model BlackJack.ViewModels.ShowStepHistoryView
@{
    ViewBag.Title = "Step";
}

<h2>Step ID:  @Model.StepID</h2>


@foreach (var item in Model.PlayerHands)
{
    <div class="Employee">
        <div class="Employee-info">
            <table>
                <tr><td>Player ID: @item.PlayerID</td></tr>
                <tr><td>Username:  @item.PlayerName</td></tr>
                <tr><td>Score: @item.Score</td></tr>
                <tr><td>Card Points: @item.CardPoints</td></tr>
            </table>
        </div>
        <div class="Employee-content">
            <table>
                @foreach (var card in item.Cards)
                {
                    <tr><td>@card.CardName</td></tr>
                }
            </table>
        </div>
    </div>
}