@model IEnumerable<BlackJack.ViewModels.EntityViewModel.UserViewModel>

@{
    ViewBag.Title = "AllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>AllUsers</h2>
<body>
    <table>
        <tr>
            @foreach (var user in Model)
            {
                <td>
                    <table style="margin-left: 10px;">
                        <tr><td>@Html.DisplayFor(modelItem => user.ID)</td></tr>
                        <tr><td>@Html.DisplayFor(modelItem => user.Name)</td></tr>
                        <tr><td>@Html.ActionLink("Delete", "DeleteUser", new { id = user.ID })</td></tr>
                    </table>
                </td>
            }
        </tr>
    </table>

    <div class="Game-content">
        <div class="UserInteface">
            <div class="User-buttons">

                <button class="Enougth-button" , onclick="@("window.location.href='" + @Url.Action("SubmitNewUser", "User") + "'");">
                    <h3>New User</h3>
                </button>

                <button class="More-button" , onclick="@("window.location.href='" + @Url.Action("CardTable", "User") + "'");">
                    <h3>Card Table</h3>
                </button> 

                <button class="More-button" , onclick="@("window.location.href='" + @Url.Action("GameTable", "Game") + "'");">
                    <h3>Start Game</h3>
                </button>

            </div>
        </div>
    </div>

 </body>