@model BlackJack.ViewModels.Response.UserAllUsersViewModel

@{
    ViewBag.Title = "AllUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<BlackJack.ViewModels.Response.UserAllUsersUserViewItem> users = new List<BlackJack.ViewModels.Response.UserAllUsersUserViewItem>();

    foreach(var user in Model.Users)
    {
        users.Add(user);
    }
}

<h2>AllUsers</h2>
<body>
    <table>
        <tr>
            @for (int i=6; i< users.Count(); i++)
            {
                <td>
                    <table style="margin-left: 10px;">
                        <tr><td>@Html.DisplayFor(modelItem => users[i].ID)</td></tr>
                        <tr><td>@Html.DisplayFor(modelItem => users[i].Name)</td></tr>
                        <tr><td>@Html.DisplayFor(modelItem => users[i].SelectedBots)</td></tr>
                        <tr><td>@Html.ActionLink("Delete", "DeleteUser", new { UserId = users[i].ID })</td></tr>
                        <tr><td>@Html.ActionLink("Select", "SelectUser", new { UserId = users[i].ID })</td></tr>
                    </table>
                </td>
            }
        </tr>
    </table>

    <div class="Game-content">
        <div class="UserInteface">
            <div class="User-buttons">
                <button class="Enougth-button" , onclick="@("window.location.href='" + @Url.Action("SubmitNewUser", "User") + "'");">
                    <h3>New User</h3>
                </button>
            </div>
        </div>
    </div>

 </body>